/cargo-0.11.0-vendor.tar.gz
/cargo-0.11.0.tar.gz
/cargo-nightly-i686-unknown-linux-gnu.tar.gz
/cargo-nightly-x86_64-unknown-linux-gnu.tar.gz
/rust-installer-c37d3747da75c280237dc2d6b925078e69555499.tar.gz
/cargo-0.12.0.tar.gz
/cargo-0.12.0-vendor.tar.gz
/cargo-nightly-armv7-unknown-linux-gnueabihf.tar.gz
/cargo-0.13.0.tar.gz
/cargo-0.13.0-vendor.tar.xz
